* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 10px;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: grey;
}

.top_nav {
	position: relative;
}

h2 {
	display: inline-block;
}